@model IEnumerable<WebApplication3.Models.Passenger>

@{
    ViewData["Title"] = "Пасажири";
}

<h1>Пасажири компанії</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PsSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PsName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PsSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PsName)
            </td>
            
          
        </tr>
}
    </tbody>
</table>
