@model WebApplication3.Models.Train

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Train</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainId" />
            <div class="form-group">
                <label asp-for="TrainDeparture" class="control-label"></label>
                <input asp-for="TrainDeparture" class="form-control" />
                <span asp-validation-for="TrainDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainDestination" class="control-label"></label>
                <input asp-for="TrainDestination" class="form-control" />
                <span asp-validation-for="TrainDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainTimeOfDep" class="control-label"></label>
                <input asp-for="TrainTimeOfDep" class="form-control" />
                <span asp-validation-for="TrainTimeOfDep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainTimeOfStop" class="control-label"></label>
                <input asp-for="TrainTimeOfStop" class="form-control" />
                <span asp-validation-for="TrainTimeOfStop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainType" class="control-label"></label>
                <input asp-for="TrainType" class="form-control" />
                <span asp-validation-for="TrainType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
