@model WebApplication3.Models.Carriage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Carriage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <input type="hidden" value="@ViewBag.TrainId" name=" TrainId"/>
            <div class="form-group">
                <label asp-for="CarriageType" class="control-label"></label>
                <input asp-for="CarriageType" class="form-control" />
                <span asp-validation-for="CarriageType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarriageName" class="control-label"></label>
                <input asp-for="CarriageName" class="form-control" />
                <span asp-validation-for="CarriageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceCount" class="control-label"></label>
                <input asp-for="PlaceCount" class="form-control" />
                <span asp-validation-for="PlaceCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
